
* {
    margin: 0;
}

html, body {
    font-family: "PingFang SC", "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", "Microsoft YaHei", "Helvetica", "Arial", sans-serif;
}

#selectimage {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 0;
    opacity: 0;
}

#selectimage, .drag {
    background-size: cover;
    background-position: center;
    color: #FFF;
    display: block;
    width: 100%;
    height: 300px;
    line-height: 300px;
    text-align: center;
    font-size: 3.5em;
}

.box-shadow {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

#show {
    margin: 1em 2em 2em 2em;
    overflow: hidden;
}

.imgsrc {
    float: left;
    margin: 8px;
}

.showimage {
    height: 150px;
    border-radius: 2px;
}

#walltitle {
    margin: 2em 2em .5em 2em;
    padding: 0 8px;
    font-weight: bold;
}

.showimage {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
}

.author{position:fixed;bottom:0;right:0;color:#585858;font-weight:bold;margin:2px;}